<div class="center jumbotron strokeme">
  <h1>Coming This Season.</h1>
  <br></br>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  <p><%= link_to "Login", "#", class: "btn btn-primary btn-lg btn-xlg" %></p>
  <p><%= link_to "Create Login", "#", class: "btn btn-primary btn-lg btn-xlg" %></p>
  <!-- <%= image_tag 'JonandGhost.gif' %> -->
</div>

<div class="center">
  <%= image_tag 'Benjen.gif' %>
</div>